@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: regular;
}
@font-face {
  font-family: "bold";
  src: local("MontserratBold"),
    url("./fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "light";
  src: local("MontserratLight"),
    url("./fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: light;
}
body {
  margin: 0;

  font-family: "Montserrat" !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 {
  font-family: "Montserrat" !important;
}
p,
td,
button {
  font-family: "Montserrat" !important;
}
/* p {
  font-family: "Montserrat";
} */
code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
